<p><label>Monthly Salary: </label>{{input value=monthly placeholder="$10000"}}</p>

<p><label>that month val  &mdash;  </label>${{monthly}}</p>
<p><label>yearlyTotal  &mdash;  </label>${{yearlyTotal}}</p>