<h2>Employment</h2>

<form>
  <label>Name of Income Source: </label><input type="text" placeholder="Jane Doe" />
  <label>Monthly Salary: </label>{{input type="number" placeholder="$10000" value=monthly}}
</form>

<p>
  <strong>Yearly Salary: </strong> ${{monthly}}
</p>